.one__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem 2rem 4rem;
}

.one__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1050px) {
    .one__brand {
        padding: 0 4rem 2rem 4rem;
    }
    
}