.one__possibility {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
    margin: 6rem auto;
}

.one__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.one__possibility-image img {
    width: 100%;
    height: 100%;
}

.one__possibility-content {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.one__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #71e5ff;
}

.one__possibility-content h4:last-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-subtext);
}

.one__possibility-content h2 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 1rem 0;
}

.one__possibility-content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .one__possibility {
        flex-direction: column;
        padding: 4rem;
    }

    .one__possibility-image {
        margin: 1rem 0; 
    }

    .one__possibility-content {
        margin-top: 2rem;
    }
    
}

@media screen and (max-width: 550px) {
    .one__possibility {
        padding: 2rem;
        margin: 2rem auto;
    }
}